<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/">Главная

                </a>
            </li>
        </ul>
    </div>
</nav>
<form action="/translate" method="post">


    <div class="form-group">
        <label>Слово:</label>
        <input type="text" class="form-control" name="word" placeholder=" Hello ">
    </div>

    <div class="form-group">

        <button type="submit" formmethod="post">Перевести</button>
    </div>

</form>
</body>
</html>